<div style="margin: auto;text-align:center;">
  <h1 style="color:#FFFFFF;">CAJA</h1><br>
  <input id="caja" class="sinRegistrar" type="text">
  <br>
  <br>
  <input class="btn btn-lg btn-warning" 
         id="registrar" type="button" value="Registrar"><br>
  <br>
  <br>
  <label id="msj" style="color:#FFFFFF;"></label>
  <br>
  <br>
  <input class="btn btn-lg btn-warning" 
         id="terminado" type="button" value="Terminado" disabled>
</div>
<style>
  body {
    background-color: #343534;
  }
  .sinRegistrar {
    height: 100px;
    width: 100px;
    font-size: 70px;
    background-color: #EEEEEE;
  }
  .registrada {
    height: 100px;
    width: 100px;
    font-size: 70px;
    background-color: #343534;
    color: #FFFFFF;
    border: none;
  }
</style>
<script>
  ready(function() {
    var socket = io.connect("http://"+location.host);
    var registrar = document.getElementById("registrar");
    registrar.addEventListener("click", function() {
      var caja = document.getElementById("caja").value;
      if (isNaN(parseInt(caja))) {
        return;
      }
      registrar.style.display = "none";
      var inputCaja = document.getElementById("caja");
      inputCaja.readonly = true;
      inputCaja.setAttribute("class", "registrada");
      socket.on(caja, function(turno) {
        if (turno == -1) {
          document.getElementById("terminado").disabled = true;
          document.getElementById("msj").innerHTML = "Disponible";
        } else {
          document.getElementById("terminado").disabled = false;
          document.getElementById("msj").innerHTML = 
            "Atendiendo al turno "+turno;
        }
      });
      socket.emit("registrar_caja", caja);
      setInterval(function() {
        socket.emit("turno_actual", caja);
      }, 5000);
    });
    var terminado = document.getElementById("terminado");
    terminado.addEventListener("click", function() {
      terminado.disabled = true;
      document.getElementById("msj").innerHTML = "Disponible";
      var caja = document.getElementById("caja").value;
      socket.emit("turno_atendido", caja);
    });
  });
</script>
