<div style="margin: auto;text-align:center;">
  <h1 style="color:#FFFFFF;">CAJA</h1><br>
  <input id="caja" class="sinRegistrar" type="text">
  <br>
  <br>
  <input class="btn btn-lg btn-warning" 
         id="registrar" type="button" value="Registrar"><br>
  <br>
  <br>
  <label id="msj" style="color:#FFFFFF;"></label>
  <br>
  <br>
  <input class="btn btn-lg btn-warning" 
         id="terminado" type="button" value="Terminado" disabled>
  <br>
  <br>
  <input class="btn btn-lg btn-warning"
         id="comida" type="button" value="comida" 
         disabled>
</div>
<style>
  body {
    background-color: #343534;
  }
  .sinRegistrar {
    height: 100px;
    width: 100px;
    font-size: 70px;
    background-color: #EEEEEE;
  }
  .registrada {
    height: 100px;
    width: 100px;
    font-size: 70px;
    background-color: #343534;
    color: #FFFFFF;
    border: none;
  }
</style>
<script>
  ready(function() {
    var socket = io.connect("http://"+location.host);
    var registrar = document.getElementById("registrar");
    var terminado = document.getElementById("terminado");
    var comida = document.getElementById("comida");
    var caja = document.getElementById("caja");
    var msj = document.getElementById("msj");
    registrar.addEventListener("click", function() {
      if (isNaN(parseInt(caja.value))) {
        return;
      }
      registrar.style.display = "none";
      caja.readonly = true;
      caja.setAttribute("class", "registrada");
      socket.on(caja.value, function(turno) {
        if (turno == -1) {
          terminado.disabled = true;
          msj.innerHTML = "Disponible";
        } else {
          terminado.disabled = false;
          msj.innerHTML = 
            "Atendiendo al turno "+turno;
        }
      });
      socket.emit("registrar_caja", caja.value);
      comida.disabled = false;
      setInterval(function() {
        socket.emit("turno_actual", caja.value);
      }, 5000);
    });
    terminado.addEventListener("click", function() {
      terminado.disabled = true;
      msj.innerHTML = 
        "Disponible";
      socket.emit("turno_atendido", 
        caja.value);
    });
    socket.on("turnos", function(turnos) {
      console.log(turnos);
    });
    comida.addEventListener("click", function() {
      if (isNaN(parseInt(caja.value))) {
        return;
      }
      socket.emit("comida", caja.value);
    });
  });
</script>
