<video id="videos" autoplay autobuffer preload="auto"
       style="background-color:#000000;"
       width="770" height="500">
</video>
<img src="/img/logo.png" width="193" height="191"
     style="top:0;left:0;z-index:2;position:absolute;">
<div class="panel_turnos">
  <h1 class="titulo">
    <span class="label label-danger">TURNO</span>
    <span class="label label-danger">CAJA</span>
  </h1>
  <ul id="turnos">
    <li></li>
  </ul>
</div>

<div class="panel_inferior">
  <div id="reloj"></div>
  <div style="float:right;width:350px;">
    <img id="clima" src="/img/medio_nublado.png" 
         width="100" height="100">
    <h1 class="grande" id="temperatura"></h1>
  </div>
  <br>
  <h1 id="fechaActual"></h1>
</div>
<style>
  body { background-color: #343534; }
  .grande { font-size: 50px; }
  .panel_turnos {
    float: right;
    text-align: center;
    margin: auto;
    margin-right: 15px;
  }
  .panel_inferior {
    width: 770px;
    padding: 10px;
    color: #FFFFFF;
    font-weight: bold; 
  }
  .titulo {
    font-size: 70px;
  }
  #fechaActual {
    font-size: 40px;
  }
  #reloj {
    width: 390px;
    height: 100px;
    float: left;
  }
  #clima {
    padding-right: 10px;
    float: left;
    height: 100px;
  }
  #turnos {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #turnos h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 90px;
    font-family: courier;
  }
</style>
<script src="/js/jquery.MyDigitClock.js"></script>
<script>
  // Video
  var videoActual = -1;  
  var videos = [
    {{#each video}}
      {"src": "/video/{{this.file}}"},
    {{/each}}
  ];
  function siguienteVideo() {
    if (videos.length == 0)
      return -1;
    videoActual++;
    if (videoActual >= videos.length)
      return 0;
    else
      return videoActual;
  }
  function reproducir() {
    var siguiente = siguienteVideo();
    if (siguiente != -1) {
      document.getElementById("videos").src = videos[siguiente].src;
    }
  }


  // Asignaciones
  function crearSpan(value, padding) {
    value = value.toString();
    var el = document.createElement("span");
    el.setAttribute("class", "label label-primary");
    var pad = "&nbsp;".repeat(padding - value.length);
    el.innerHTML = pad + value;
    return el;
  }
  function agregarAsignacionVisualizada(asignacion) {
    if (localStorage.getItem("visualizadas")) {
      var visualizadas = JSON.parse(localStorage.getItem("visualizadas"));
      visualizadas.push(asignacion);
      while (visualizadas.length > 4)
        visualizadas.shift();
      localStorage.setItem("visualizadas", JSON.stringify(visualizadas));
    } else {
      localStorage.setItem("visualizadas", JSON.stringify([asignacion]));
    }
  }
  function obtenerAsignacionesVisualizadas() {
    if (localStorage.getItem("visualizadas")) {
      return JSON.parse(localStorage.getItem("visualizadas"));
    } else {
      return [];
    }
  }
  function limpiar() {
    localStorage.setItem("visualizadas", JSON.stringify([]));
  }
  function mostrarAsignacion(asignacion) {
    var ul = document.getElementById("turnos");
    var elems = ul.getElementsByTagName("li");
    for (var i = 0; i < elems.length; i++) {
      if (i >= 3)
      $(elems[i]).hide(200);
    }

    var li = document.createElement("li");
    var id = asignacion.caja + "_" + asignacion.turno;
    li.setAttribute("id", id);
    li.setAttribute("class", asignacion.caja);
    li.style.display = "none";

    ul.insertBefore(li, ul.firstChild);

    var h1 = document.createElement("h1");
    h1.appendChild(crearSpan(asignacion.turno, 4));
    h1.appendChild(document.createTextNode(" "));
    h1.appendChild(crearSpan(asignacion.caja, 2));

    li.appendChild(h1);
    $( "#turnos li:first-child" ).show( "slide" );

    while (elems.length >= 10) {
      elems[9].remove();
      elems = ul.getElementsByTagName("li");
    }
  }

  ready(function() {
    var visualizadas = obtenerAsignacionesVisualizadas();
    for (var i = 0; i < visualizadas.length; i++) {
      mostrarAsignacion(visualizadas[i]);
    }

    var socket = io.connect("http://"+location.host);
    
    // Fecha
    var f = new Date();
    var fechaActual = document.getElementById("fechaActual");
    fechaActual.innerHTML = obtenerDia(f.getDay()) + " " + 
      f.getDate() + " DE " + obtenerMes(f.getMonth()) + " " + 
      f.getFullYear();


    // Reloj
    $( "#reloj" ).MyDigitClock({
      fontSize: 60,
      fontColor: "#FFF",
      background: "#343534",
      fontWeight: "bold",
      bAmPm: true,
      bShowHeartBeat: true      
    });


    // Video
    document.getElementById("videos").onended = function() {
      reproducir();
    }
    socket.on("videos_actualizados", function(disponibles) {
      var videoPlayer = document.getElementById("videos");
      videoPlayer.pause();
      videoPlayer.src = "";
      videos = JSON.parse(disponibles);
      actual = -1;
      reproducir();
    });
    reproducir();


    socket.on("refrescar_monitor", function() {
      location.reload();
    });


    var asignaciones = [];
    socket.on("turno_asignado", function(a) {
      var asignacion = JSON.parse(a);
      socket.emit("monitor_confirma_recepcion", asignacion.id);
      for (var i = 0; i < asignaciones.length; i++) {
        var tmp = asignaciones[i];
        if (tmp.caja == asignacion.caja && 
            tmp.turno == asignacion.turno)
          return;
      }
      asignaciones.push(asignacion);
    });
    setInterval(function() {
      if (asignaciones.length == 0)
        return;

      var asignacion = asignaciones.shift();
      agregarAsignacionVisualizada(asignacion);
      mostrarAsignacion(asignacion); 
    }, 10000);


    // Clima
    var woeid = 90296029;
    consultarClima(woeid, actualizarClima);
    setInterval(consultarClima, 1000*60*60, woeid, 
      actualizarClima);
    function consultarClima(woeid, callback) {
      var request = new XMLHttpRequest();
      var host = "query.yahooapis.com/v1/public/yql?q=";
      var uri = "select * from weather.forecast "+
        "where woeid="+woeid+"\n";
      var query = encodeURI(uri);
      request.open("GET",
        "https://"+host+query+"&format=json", true);
      request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
          var data = JSON.parse(request.responseText);
          callback(data);
        }
      };
      request.send();
    }
    function actualizarClima(datos) {
      var f = datos.query.results.channel.wind.chill;
      var c = (5 / 9)*(f - 32);
      var code = datos.query.results.channel.item.condition.code;
      var desc = descripcionClima(code);
      var temperatura = document.getElementById("temperatura");
      temperatura.innerHTML = c.toFixed(1) + " C";
      var clima = document.getElementById("clima");
      clima.setAttribute("src","/img/" + desc + ".png");
    }
    function obtenerDia(dia) {
      switch(dia) {
        case 0: return "DOMINGO";
        case 1: return "LUNES";
        case 2: return "MARTES";
        case 3: return "MIERCOLES";
        case 4: return "JUEVES";
        case 5: return "VIERNES";
        case 6: return "SABADO";
        default: return "";
      }
    }
    function obtenerMes(mes) {
      switch(mes) {
        case 0: return "ENERO";
        case 1: return "FEBRERO";
        case 2: return "MARZO";
        case 3: return "ABRIL";
        case 4: return "MAYO";
        case 5: return "JUNIO";
        case 6: return "JULIO";
        case 7: return "AGOSTO";
        case 8: return "SEPTIEMBRE";
        case 9: return "OCTUBRE";
        case 10: return "NOVIEMBRE";
        case 11: return "DICIEMBRE";
        default : return "";
      }
    }
    function descripcionClima(codigo) {
      switch(parseInt(codigo)) {
        case 0: return "tormenta";
        case 1: return "tormenta";
        case 2: return "tormenta";
        case 3: return "tormenta";
        case 4: return "tormenta";
        case 5: return "lluvia";
        case 6: return "lluvia";
        case 7: return "nieve";
        case 8: return "lluvia";
        case 9: return "lluvia";
        case 10: return "lluvia";
        case 11: return "lluvia";
        case 12: return "lluva";
        case 13: return "nieve";
        case 14: return "nieve";
        case 15: return "nieve";
        case 16: return "nieve";
        case 17: return "nieve";
        case 18: return "nieve";
        case 19: return "neblina";
        case 20: return "neblina";
        case 21: return "neblina";
        case 22: return "niebla";
        case 23: return "viento";
        case 24: return "viento";
        case 25: return "viento";
        case 26: return "nublado";
        case 27: return "nublado";
        case 28: return "nublado";
        case 29: return "medio_nublado";
        case 30: return "medio_nublado";
        case 31: return "soleado";
        case 32: return "soleado";
        case 33: return "soleado";
        case 34: return "soleado";
        case 35: return "lluvia";
        case 36: return "soleado";
        case 37: return "tormenta";
        case 38: return "tormenta";
        case 39: return "tormenta";
        case 40: return "lluvia";
        case 41: return "nieve";
        case 42: return "nieve";
        case 43: return "nieve";
        case 44: return "nublado";
        case 45: return "tormenta";
        case 46: return "nieve";
        case 47: return "tormenta";
        default: return "medio_nublado";
      }
    }
  });
</script>
