<h1>SIGUIENTE: </h1><h1 id="siguiente">1</h1>
<input id="imprimir" style="height:1024px;width:1024px;" 
       type="button" value="Imprimir turno"><br>
<script>
  ready(function() {
    var puedeImprimir = false;
    var turno = 1;
    var socket = io.connect("http://"+location.host);
    document.getElementById("imprimir").addEventListener("click", function() {
      if (!puedeImprimir)
        return;
      puedeImprimir = false;
      var turnoTomado = turno;
      turno += 1;
      document.getElementById("siguiente").innerHTML = turno;
      socket.emit("agregar_turno",turnoTomado);
      var ventana = window.open("","","width=100,height=100");
      var html = '&nbsp;<br><br>'+
        '<h1 style="margin:auto; text-align:center;">'+
        "TURNO "+turnoTomado+"</h1>"+
        "<br><br>.";
      ventana.document.write(html);
      ventana.print();
      ventana.close();
      puedeImprimir = true;  
    });
    socket.on("ultimo_turno_registrado", function(t) {
      turno = t + 1;
      document.getElementById("siguiente").innerHTML = turno;
      puedeImprimir = true; 
    });
    socket.emit("ultimo_turno_registrado");
  });
</script>
