<input id="turno" type="text" readonly><br>
<input id="emitirTicket" type="button" value="Obtener turno"><br>
<script>
  var turno = 1;
  ready(function() {
    var emitirTicket = document.getElementById("emitirTicket");
    emitirTicket.addEventListener('click', function() {
      socket.emit("agregar turno", turno);
      document.getElementById("turno").value = turno;
      var impresion = window.open("","", "width=100,height=100");
      impresion.document.write("<h1>"+turno+"</h1>");
      impresion.print();
      impresion.close();
      turno += 1;
    });
  });
</script>
